:host {
  margin: 30px;
}

.manage-players__player-card {
  margin-bottom: 10px;
}

.manage-players__name-input {
  padding-bottom: 20px;
}

player-position {
  padding-right: 32px;
}

player-rating {
  padding-right: 20px;
}

h2 {
  margin: 0;
}
